<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>achterbahns</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap Link -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
            integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

    <!--  jqueryUI Autocomplete  -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb">
    <a class="navbar-brand" href="index">TH Park</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown-1">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="parks">Parks</a></li>
            <li class="nav-item"><a class="nav-link" href="settings">Badges</a></li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="/kontoansicht" style="color: white">Kontoansicht</a></li>
            <li class="nav-item"><a class="nav-link" href="logout">Logout</a></li>
        </ul>
    </div>
</nav>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/index">Startseite</a></li>
        <li class="breadcrumb-item active" aria-current="page">Kontoansicht</li>
    </ol>
</nav>
<body>
<div layout:fragment="content" class="row">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <h4>List Of Achterbahns</h4>
        </div>
        <div class="col-md-2" style="margin-left: -12px;margin-right: 10px;">
            <h2>
                <a href="/GetRandomAchterbahn" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span> zufällig Achterbahn</a>
            </h2>
        </div>
        <div class="col-md-2">
            <h2>
                <a href="/addachterbahn" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Add Achterbahn</a>
            </h2>
        </div>
        <div class="col-md-2">
            <form action="#" th:action="@{/search}" th:object="${achterbahn}"
                  method="post">
                <div class="col-md-12">
                    <div class="form-group">
                        <input id="searchBar"
                               class="form-control"
                               placeholder="Search by Name ..."
                               type="search"
                               th:field="*{name}"
                               style="width: 300px;"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-10">
        <div class="table-responsive">
            <table id="achterbahns" class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="achterbahn : ${achterbahns}">
                    <td th:text="${achterbahn.id}"></td>
                    <td th:text="${achterbahn.name}"></td>
                    <td></td>

                    <td><a th:href="@{'/Achterbahns/' + ${achterbahn.id}}" class="btn btn-default">Detail</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</body>
<script>
    $( function() {
        var achterbahns = [];

        if(achterbahns.length == 0){
            var oTable = document.getElementById('achterbahns');

            for (i = 1; i < oTable.rows.length; i++){

                var oCells = oTable.rows.item(i).cells;

                for(var j = 1; j < oCells.length - 1; j++){
                    var cellVal = oCells.item(j).innerHTML;
                    achterbahns.push(cellVal);
                }
            }
        }
        $( "#searchBar" ).autocomplete({source: achterbahns});
    } );
</script>
</html>