<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Addachterbahn</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap Link; Replace later with css link-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb">
    <a class="navbar-brand" href="/index">TH Park</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown-1">
        <ul class="navbar-nav mr-auto">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Fahrten eintragen
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href="/showparks">Deutschland</a></li>
                            <li><a class="dropdown-item" href="#">Österreich</a></li>
                            <li><a class="dropdown-item" href="#">Schweiz</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/addpark">Park erstellen</a></li>
                </ul>
            </div>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="/kontoansicht">Kontoansicht</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Help</a></li>
        </ul>
    </div>
</nav>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/index">Startseite</a></li>
        <li class="breadcrumb-item"><a href="/parks">Parks Anzeigen</a></li>
        <li class="breadcrumb-item active" aria-current="page">Achterbahn erstellen</li>
    </ol>
</nav>
<body>
<div class="container my-5">
    <strong style="font-size: 2rem; font-family: 'Object Sans'">Neuen Achterbahn erstellen</strong>
    <div class="row">
        <div class="col-md-6">
            <form th:action="@{/addachterbahn}" th:object="${AchterbahnInput}" th:method="post">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="name" class="col-form-label">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Name" th:field="*{name}" required>
                        <my-alert th:if="${#fields.hasErrors('name')}" th:errors="*{name}" ></my-alert>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <input type="submit" class="btn btn-primary"   value="Add Achterbahn">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>
