<!-- #JavaInspires -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Java Inspires</title>
</head>
<body>
<div align="center">
    <br>
    <h1>Employee Form</h1>
    <br>
    <form th:action="@{/employee}" th:object="${employeeForm}" method="POST">
        <table>
            <tr>
                <td>Emp ID</td>
                <td><input type="text" th:name="id" /></td>
            </tr>
            <tr>
                <td>Emp Name</td>
                <td><input type="text" th:name="name" /></td>
            </tr>
            <tr>
                <td>Emp Designation</td>
                <td><select th:name="myrating">
                    <option th:each="rating :${ratings}"
                            th:text="${rating}">
                </select></td>
            </tr>
        </table>
        <input type="submit" value="Save" />
    </form>
</div>
</body>
</html>