<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb">
    <a class="navbar-brand" href="index">TH Park</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown-1">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="registration">Registration</a></li>
        </ul>
    </div>
</nav>
<body>

<div class="container my-5">
    <strong style="font-size: 2rem; font-family: 'Object Sans'">Login</strong>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <form th:action="@{/login}" th:method="post" th:object="${loginInput}">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="Username" class="col-form-label">Username</label>
                        <input type="text" class="form-control" id="Username" placeholder="Username" th:field="*{userName}" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="Password">Passwort</label>
                        <input type="password" class="form-control" id="Password" placeholder="Passwort" th:field="*{userPassword}" required>
                    </div>
                </div>
                <div class="alert" th:text="${errorMsg}"></div>
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <input type="submit" name="submit" class="btn btn-primary" value="Anmelden">
                        <a href="/registration" type="button" class="btn btn-primary">Registrieren</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>