<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>achterbahns</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap Link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container my-5">
    <div class="row">
        <h3>List Of Achterbahns</h3>
        <div class="col-md-10">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="thead-dark">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Delete</th>
                        <th>Details</th>
                        <th>Bewerten</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="achter : ${achterbahnlist}">
                        <td th:text="${achter.id}"></td>
                        <td th:text="${achter.name}"></td>
                        <!--                    <td><a th:href="@{/deleteachterbahn/{id}(id=${achterbahn.id})}" class="btn btn-warning">Delete</a></td>-->
                        <!--                    <td><a th:href="@{'/Achterbahndetails/' + ${achterbahn.id}}" class="btn btn-default">Detail</a></td>-->
                        <td><a href="#" class="btn btn-warning">Delete</a></td>
                        <td><a href="#" class="btn btn-default">Detail</a></td>
                        <td th:text="${achter.myrating}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>