<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>showparks</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap Link -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
  crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb">
  <a class="navbar-brand" href="/index">TH Park</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown-1">
    <ul class="navbar-nav mr-auto">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Fahrten eintragen
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="/showparks">Deutschland</a></li>
              <li><a class="dropdown-item" href="#">Ã–sterreich</a></li>
              <li><a class="dropdown-item" href="#">Schweiz</a></li>
            </ul>
          </li>
          <li class="nav-item"><a class="nav-link" href="/addpark">Park erstellen</a></li>
        </ul>
      </div>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" href="/kontoansicht">Kontoansicht</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Help</a></li>
    </ul>
  </div>
</nav>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/index">Startseite</a></li>
    <li class="breadcrumb-item active" aria-current="page">Deutschland</li>
  </ol>
</nav>

<body>
<div class="container my-5">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col">
          <strong style="font-size: 2rem; font-family: 'Object Sans'">Parks in Deutschland</strong>
        </div>
        <div class="col">
          <form th:action="@{/search}" th:object="${mypark}" method="post">
            <div class="input-group ps-5">
              <div id="navbar-search-autocomplete" class="form-outline">
                <input type="search" placeholder="suchen mit Name ..." id="form1" class="form-control" th:field="*{name}"/>
              </div>
              <button type="submit" class="btn btn-primary">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <hr>
    <table class="table table-striped table-responsive-md">
      <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="park : ${allparks}">
        <td><a th:href="@{/parks/{id}(id=${park.id})}" th:text="${park.name}"></a></td>
        <td th:text="${park.adress}"></td>
        <td><a href="#" class="btn btn-warning">Edit</a></td>
        <td><a href="#" class="btn btn-danger">Dlt</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>

</html>
